# Python bytecode files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.whl
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
ENV/
env/
.env/

# Poetry
poetry.lock
__pypackages__/

# IDEs
.vscode/
.idea/

# Project specific
output/
logs/
storage/
config/config.yaml
config/ha_mqtt_disc_payload.json
.ha_discovery_state.json
